
.GISMap {
  z-index: 0;
  height: 1000px;
  text-align: left;
}

.OSMMap {
  z-index: 0;
  height: 1000px;
  text-align: left;
}

.locationName {
  font-weight: bold;
  font-size: 14px;
}

.evacuationNG {
  color: #ccc;
}